@import "../../styles/Common.scss";

.formlayout__table {
    margin: 0 auto;
    thead th {
        height: 50px;
        line-height: 50px;
        background: #303c54;
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }

    tbody th {
        background: #f8f8f8;
    }
}

.formLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formCard {
    @extend %styleCard;
    margin-bottom: 10px;
    padding: 80px 40px;
    width: 49.8%;
}

.formSection {
    width: 49.8%;
    height: auto;
    background: white;
    border: 1px solid $line;
    border-radius: 0.25rem;

    table {
        margin-bottom: 10px;
        padding: 80px 40px;
        border-bottom: 1px solid $line;

        th {
            background: #f8f8f8;
            width: 180px;
        }
    }
}
