@import "../../styles/Common.scss";

.formlayout__table {
    margin: 0 auto;
    thead th {
        height: 50px;
        line-height: 50px;
        background: #303c54;
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }

    tbody th {
        background: #f8f8f8;
    }
}

.formLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formCard {
    @extend %styleCard;
    margin-bottom: 10px;
    padding: 80px 40px;
    width: 49.8%;
}

.formSection {
    margin-bottom: 5px;
    width: 49.8%;
    height: auto;
    background: white;
    border: 1px solid $line;
    border-radius: 0.25rem;

    &.full {
        width: 100%;
    }

    &.center {
        display: flex;
        justify-content: center;
        padding: 60px 0;
        width: 100%;
        table {
            width: 60%;
            border-left: 1px solid $line;
            border-right: 1px solid $line;
            border-bottom: 1px solid $line;
        }
    }
    table {
        margin-bottom: 0 !important;
        // border-bottom: 1px solid $line;

        th {
            background: #f8f8f8;
            width: 180px;
        }
    }
}

.selectMultiCustom {
    td {
        display: flex;
        justify-content: space-between;
    }
    select {
        width: 40%;
    }
}

.widthButton {
    display: flex;
    justify-content: space-between;

    input {
        width: 77%;
    }

    button {
        width: 20%;
    }
}
