@import "../../styles/Common.scss";

.formList {
    .formList__container {
        height: 200px;
    }

    .formList__item {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid $line;
    }
}
