@import "../../styles/Common.scss";

.layout {
    display: flex;
    flex-direction: column;
    height: auto;
    background: $grey;

    .layout__body {
        flex: 1;
        display: flex;
    }

    .layout__content {
        display: flex;
        flex-direction: column;
        //padding: 15px;
        width: 100%;
        min-width: 900px;
    }
}

// @media screen and (max-width: 1200px) {
//     .sidebar {
//         display: none;
//     }
// }

// bootstrap
// 992 px
// 768 px
// 576 px
