@import "../../styles/Common.scss";

.modalSearch {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .modalSearch__title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid $line;
    }
    .modalSearch__body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;

        .modalSearch__inputbox {
            width: 100%;

            input {
                width: 100%;
            }
        }

        .modalSearch__timeSelect {
            width: 100%;
        }
    }

    .modalSearch__footer {
        margin-bottom: 10px;
        width: 100%;
        height: 180px;
        line-height: 180px;
        text-align: center;
        background: $line;
        font-size: 2rem;
        font-weight: bold;
    }
    .modalSearch__error {
        color: red;
        font-size: 0.9rem;
    }
}
