.react-datepicker,
.react-datepicker__month-container {
    width: 100%;
    height: 100%;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin: 0.15rem !important;
}

// div.react-datepicker__day--keyboard-selected {
//     background: #eeeeee;
//     color: black;
//     border-radius: 50%;
// }
