.tourBoardModal {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0px 20px;
    height: 700px;

    .tourBoardModal__buttonContainer2 {
        padding-right: 30px;

        button {
            float: right;
            margin-right: 20px;
            margin-bottom: 20px;
            width: 120px;
        }
    }
}

.tourBoardModal__buttonContainer {
    margin-top: 30px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        margin-left: 15px;
        width: 300px;
    }
}
