@import "../../styles/Common.scss";

.map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .map__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .map__searchBox {
        position: relative;
        margin-bottom: 5px;
        width: 100%;
        height: 45px;
        border: 1px solid $line;
        i {
            display: inline-block;
            width: 30px;
            height: 100%;
            text-align: center;
        }
    }

    .map__input {
        padding-left: 15px;
        width: calc(100% - 60px);
        height: 40px;
        border: none;
    }

    .map__display {
        width: 100%;
        height: calc(100% - 80px);
        border: 1px solid $line;
    }
}
