@import "../../../../styles/Common.scss";

.areaFormRight {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 49.8%;
    height: 590px;
    background: white;
    border: 1px solid $line;
    border-radius: 0.25rem;

    .areaFormRight__imgMain {
        position: relative;
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid #dee2e6;
        img {
            width: 80%;
            height: 360px;
            object-fit: cover;
        }
        h3 {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
        }
    }

    .areaFormRight__imgSub {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #dee2e6;
        div {
            flex: 1;
        }
        img {
            width: 100%;
            padding: 5px;
            height: 150px;
            object-fit: cover;
            //border: 1px solid #dee2e6;
        }
    }

    .areaFormRight__buttonContainer {
        padding: 5px;
        height: 40px;
        line-height: 40px;
    }
}
