@import "../../../../styles/Common.scss";

.formImg {
    position: relative;
    .formImg__title {
        vertical-align: middle;
    }

    .formImg__label {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .formImg__mainImg {
        img {
            min-height: 350px;
        }
    }

    .formImg__subImg {
        display: flex;

        td {
            flex: 1;
            height: 200px;
        }
    }
}
