.card.template {
    flex: 1;
    padding: 15px;
    background: #eeeeee;
    > div > i {
        margin-right: 10px;
    }

    .template__buttonContainer {
        float: right;
        > button {
            margin-right: 10px;
        }
    }
}
