.card.template {
    flex: 1;
    padding: 15px;
    background: #eeeeee;

    i {
        margin-right: 10px;
    }

    .template__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        button {
            width: 200px;
            margin-left: 20px;
            float: right;
        }
    }

    .template__buttonContainer {
        overflow: hidden;
        padding: 20px 0px;
        button {
            width: 200px;
            margin-left: 20px;
            float: right;
        }

        span: {
            font-size: 1.2rem;
        }
    }
}
